### 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [7]:
test1 = 'This is a test of the emergency text system'
savetxt = open('test.txt','w')
savetxt.write(test1)
#savetxt.close()

43

### 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [8]:
with open('test.txt', 'r') as infile:
    test2 = infile.read()

In [9]:
len(test2)

43

In [10]:
len(test1)

43

In [11]:
test1 == test2   #no difference

True

In [34]:
for test2 in open('test.txt','r'):
    print(test2)

This is a test of the emergency text system

### 3. Create a CSV file called books.csv by using these lines:

title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [13]:
text='''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

In [14]:
with open('books.csv', 'wt') as outfile:
    outfile.write(text)

### 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [15]:
import sqlite3

In [35]:
db = sqlite3.connect('books.db')

In [37]:
curs = db.cursor()

In [39]:

curs.execute('''create table book2 (title text, author text, year int)''')
#curs.execute('create table books(title varchar(20),author varchar(20), year int)')

In [21]:
db.commit()

### 5. Read books.csv and insert its data into the book table.

In [22]:
import csv

In [23]:
import sqlite3

In [24]:
ins_str = 'insert into book values(?, ?, ?)'

In [25]:
with open('books.csv', 'rt') as infile:
    books = csv.DictReader(infile)
    for book in books:
        curs.execute(ins_str, (book['title'], book['author'], book['year']))

In [26]:
db.commit()

In [27]:
# 2nd method using pandas

import pandas as pd

read_books = pd.read_csv('books.csv',encoding='unicode_escape')
read_books.to_sql('books', db, if_exists='append', index = False)

5

In [28]:
# 3rd method exception handling
try:
    import csv
    import sqlite3
    file=open("books.csv",'r')
    cont=csv.reader(file)
    con=sqlite3.connect('books.db') 
    cursor=con.cursor()
    cursor.executemany("insert into books values(?,?,?)",cont )
    con.commit()
    #db.close()              
except Exception as e:
               print(e)

### 6. Select and print the title column from the book table in alphabetical order.

In [29]:
sql = 'select title from book order by title asc'

In [30]:
for row in db.execute(sql):
    print(row)

('Perdido Street Station',)
('Perdido Street Station',)
('Small Gods',)
('Small Gods',)
('The Spellman Files',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('The Weirdstone of Brisingamen',)
('Thud!',)
('Thud!',)

In [31]:
for row in db.execute(sql):
    print(row[0])

Perdido Street Station
Perdido Street Station
Small Gods
Small Gods
The Spellman Files
The Spellman Files
The Weirdstone of Brisingamen
The Weirdstone of Brisingamen
Thud!
Thud!

In [40]:
curs.execute('select title from books order by title asc')
print(curs.fetchall())

[('Perdido Street Station',), ('Perdido Street Station',), ('Perdido Street Station',), ('Perdido Street Station',), ('Perdido Street Station',), ('Perdido Street Station',), ('Small Gods',), ('Small Gods',), ('Small Gods',), ('Small Gods',), ('Small Gods',), ('Small Gods',), ('The Spellman Files',), ('The Spellman Files',), ('The Spellman Files',), ('The Spellman Files',), ('The Spellman Files',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('The Weirdstone of Brisingamen',), ('The Weirdstone of Brisingamen',), ('The Weirdstone of Brisingamen',), ('The Weirdstone of Brisingamen',), ('The Weirdstone of Brisingamen',), ('Thud!',), ('Thud!',), ('Thud!',), ('Thud!',), ('Thud!',), ('Thud!',), ('title',), ('title',), ('title',), ('title',)]

In [33]:
try:
    import sqlite3
    cn=sqlite3.connect('books.db')
    cur=cn.cursor()
    cur.execute("select title from books order by title")
    print(cur.fetchall())
    cn.commit()
    #db.close()
except Exception as e:
               print(e)

[('Perdido Street Station',), ('Perdido Street Station',), ('Perdido Street Station',), ('Perdido Street Station',), ('Perdido Street Station',), ('Perdido Street Station',), ('Small Gods',), ('Small Gods',), ('Small Gods',), ('Small Gods',), ('Small Gods',), ('Small Gods',), ('The Spellman Files',), ('The Spellman Files',), ('The Spellman Files',), ('The Spellman Files',), ('The Spellman Files',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('The Weirdstone of Brisingamen',), ('The Weirdstone of Brisingamen',), ('The Weirdstone of Brisingamen',), ('The Weirdstone of Brisingamen',), ('The Weirdstone of Brisingamen',), ('Thud!',), ('Thud!',), ('Thud!',), ('Thud!',), ('Thud!',), ('Thud!',), ('title',), ('title',), ('title',), ('title',)]

### 7. From the book table, select and print all columns in the order of publication.

In [41]:
for row in db.execute('select * from book order by year'):
    print(row)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('The Spellman Files', 'Lisa Lutz', 2007)

In [51]:
curs.execute('select title, author,year from books order by year')
#print(c.fetchall())

df = pd.DataFrame(curs.fetchall(), columns=['title','author','year'])
df

                            title           author  year
0   The Weirdstone of Brisingamen      Alan Garner  1960
1   The Weirdstone of Brisingamen      Alan Garner  1960
2   The Weirdstone of Brisingamen      Alan Garner  1960
3   The Weirdstone of Brisingamen      Alan Garner  1960
4   The Weirdstone of Brisingamen      Alan Garner  1960
5   The Weirdstone of Brisingamen      Alan Garner  1960
6                      Small Gods  Terry Pratchett  1992
7                      Small Gods  Terry Pratchett  1992
8                      Small Gods  Terry Pratchett  1992
9                      Small Gods  Terry Pratchett  1992
10                     Small Gods  Terry Pratchett  1992
11                     Small Gods  Terry Pratchett  1992
12         Perdido Street Station   China Miéville  2000
13         Perdido Street Station   China Miéville  2000
14         Perdido Street Station   China Miéville  2000
15         Perdido Street Station   China Miéville  2000
16         Perdido Street Station   China Miéville  2000
17         Perdido Street Station   China Miéville  2000
18                          Thud!  Terry Pratchett  2005
19                          Thud!  Terry Pratchett  2005
20                          Thud!  Terry Pratchett  2005
21                          Thud!  Terry Pratchett  2005
22                          Thud!  Terry Pratchett  2005
23                          Thud!  Terry Pratchett  2005
24             The Spellman Files        Lisa Lutz  2007
25             The Spellman Files        Lisa Lutz  2007
26             The Spellman Files        Lisa Lutz  2007
27             The Spellman Files        Lisa Lutz  2007
28             The Spellman Files        Lisa Lutz  2007
29             The Spellman Files        Lisa Lutz  2007
30                          title           author  year
31                          title           author  year
32                          title           author  year
33                          title           author  year

In [42]:
for row in db.execute('select * from book order by year'):
    print(*row, sep=', ')

The Weirdstone of Brisingamen, Alan Garner, 1960
The Weirdstone of Brisingamen, Alan Garner, 1960
Small Gods, Terry Pratchett, 1992
Small Gods, Terry Pratchett, 1992
Perdido Street Station, China Miéville, 2000
Perdido Street Station, China Miéville, 2000
Thud!, Terry Pratchett, 2005
Thud!, Terry Pratchett, 2005
The Spellman Files, Lisa Lutz, 2007
The Spellman Files, Lisa Lutz, 2007

### 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [43]:
import sqlalchemy

In [44]:
conn = sqlalchemy.create_engine('sqlite:///books.db')

In [45]:
sql = 'select title from book order by title asc'

In [46]:
rows = conn.execute(sql)

In [47]:
for row in rows:
     print(row)

('Perdido Street Station',)
('Perdido Street Station',)
('Small Gods',)
('Small Gods',)
('The Spellman Files',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('The Weirdstone of Brisingamen',)
('Thud!',)
('Thud!',)

In [52]:
# 2nd method
import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books.db")
rows = engine.execute('select * from books')
for i in rows:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)
('title', 'author', 'year')
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)
('title', 'author', 'year')
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)
('title', 'author', 'year')
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)
('title', 'author', 'year')
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

### 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [48]:
!pip install redis

Collecting redis
  Downloading redis-4.3.4-py3-none-any.whl (246 kB)
     -------------------------------------- 246.2/246.2 kB 3.7 MB/s eta 0:00:00
Collecting deprecated>=1.2.3
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Requirement already satisfied: packaging>=20.4 in c:\users\administrator\anaconda3\lib\site-packages (from redis) (21.3)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\administrator\anaconda3\lib\site-packages (from deprecated>=1.2.3->redis) (1.12.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\administrator\anaconda3\lib\site-packages (from packaging>=20.4->redis) (3.0.4)
Installing collected packages: deprecated, async-timeout, redis
  Attempting uninstall: async-timeout
    Found existing installation: async-timeout 4.0.1
    Uninstalling async-timeout-4.0.1:
      Successfully uninstalled async-timeout-4.0.1
Successfully installed async-timeout-4.0.2 deprecated-1.2.13 redis-4.3.4

In [ ]:
# import redis
# conn = redis.Redis()
# conn.delete('test')
# conn.hset('test',mapping = {'count' : 1, 'name' : 'Fester Bestertester'})
# #conn.hset('test',key =  1, value = 'Fester Bestertester')
# conn.hgetall('test')

### 10. Increment the count field of test and print it.

In [ ]:
conn.hincrby('test', 'count', 3)
print(conn.hget('test', 'count'))